In [1]:
import pandas as pd

In [2]:
with open("data/NASDAQ.txt", 'r') as f:
    nasdaq = f.readlines()
nasdaq
for i in range(len(nasdaq)):
    nasdaq[i] = (nasdaq[i].split("\n")[0]).split("\t")
nasdaq_df = pd.DataFrame(nasdaq[1::], columns=nasdaq[0])
nasdaq_df.head()

  Symbol            Description
0   AACG  Ata Creativity Global
1    AAL   American Airlines Gp
2   AAME       Atlantic Amer Cp
3   AAOI      Applied Optoelect
4   AAON               Aaon Inc

In [3]:
with open("data/AMEX.txt", 'r') as f:
    amex = f.readlines()
for i in range(len(amex)):
    amex[i] = (amex[i].split("\n")[0]).split("\t")
amex_df = pd.DataFrame(amex[1::], columns=amex[0])
amex_df.head()

  Symbol                      Description
0   AAAU     Perth Mint Physical Gold ETF
1   AADR  Advisorshares Dorsey Wright ADR
2   AAMC                 Altisource Asset
3    AAU                 Almaden Minerals
4   ABEQ       Absolute Core Strategy ETF

In [4]:
with open("data/NYSE.txt", 'r') as f:
    nyse = f.readlines()
for i in range(len(nyse)):
    nyse[i] = (nyse[i].split("\n")[0]).split("\t")
nyse_df = pd.DataFrame(nyse[1::], columns=nyse[0])
nyse_df.head()

  Symbol             Description
0      A    Agilent Technologies
1     AA              Alcoa Corp
2    AAN             Aaron's Inc
3    AAP  Advance Auto Parts Inc
4    AAT   American Assets Trust

In [5]:
stocks = [nasdaq_df, amex_df, nyse_df]
stocks_df = pd.concat(stocks)
stocks_df = stocks_df.sort_values(by=['Symbol'])
indices = pd.Series(range(0, len(stocks_df)))
stocks_df = stocks_df.set_index(indices)
stocks_df.head()

  Symbol                      Description
0      A             Agilent Technologies
1     AA                       Alcoa Corp
2   AAAU     Perth Mint Physical Gold ETF
3   AACG            Ata Creativity Global
4   AADR  Advisorshares Dorsey Wright ADR

In [6]:
stocks_df.to_csv("data/stocks_symbols.csv")